@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background: #120C18;
  background-image: radial-gradient(at 0% 100%, #3a1508 0%, transparent 50%), radial-gradient(at 100% 0%, #1c0f0d 0%, transparent 50%);
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  transition: background-color 0.5s ease;
}
